@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
body{
    font-family: 'Space Mono', monospace;
    background-color: #C5E4E7;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}
/* Retira a funcionalidade do type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*       H E A D E R       */
header{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*          M A I N        */
main{
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
}
.centralizar{
    width: 85%;
    margin: 0 auto;

}
label{
    display: inline-block;
    padding: 20px 0 5px 10px ;
    font-size: .9rem;
    color: #6A7674;
}
/* Section one */
.section-one img{
    position: relative;
    top: 32px;
    right: 35px;
    z-index: 999;
}
.section-one input{
    width: calc(99.5% - 70px);
    height: 30px;
    background-color: #F3F8FB;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 20px;
    box-shadow: 1px 1px 5px 1px #cccccc;
    text-align: right;
    font-weight: 700;
    font-size: 1.3rem;
    color: #033C3D;
    
}
/* Section two */
.container-buttons{
    display: flex;  
    justify-content: space-between;
}
.coluna1, .coluna2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.coluna2 {
   align-items: flex-end;
}
.container-buttons button{
    width: 90%;
    margin: 2%;
    padding: 5%;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #00474B;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #cccccc;
}
button:hover{
    cursor: pointer;
}
.container-buttons input{
    width: 80%;
    text-align: center;
    margin: 2%;
    padding: 5%;
    font-size: 1.3rem;
    font-weight: 700;
    color: #00474B;
    border: none;
    background-color: #F3F8FB;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #cccccc;
}
/* Section three */
.section-one .person{
    right: 140px;
}
/* Section Four */
.section-four{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12% 5% 8% 5%;
    background-color: #00474B;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.section-four .container-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section-four .container-linha .container-collum{
    display: flex;
    flex-direction: column;
}
.section-four h3{
    color: white;
    font-size: .9rem;
}
.section-four p{
    font-size: .7rem;
    color: #73A7B2;

}
.section-four h2{
    font-size: 1.5rem;
    color: #30C2AF;
}
.section-four button{
    padding: 10px 0;
    background-color: #0C686D;
    border-radius: 5px;
    color: #045D63;
    border: none;
    box-shadow: 1px 1px 5px 1px #00473B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

/*          R E S P O N S I V E         */

@media screen and (min-width: 1008px) {
    header{
        height: 25%;
    }
    main{
        background-color: white;
        border-radius: 20px;
        width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 30px 30px 60px 30px;
    }
    .container-left{
        width: 50%;
        height: 100%;
    }
    .container-right{
        width: 50%;
    }
    section{
        scale: 1.1;
    }
    .section-one input{
        height: 40px;
    }
    .section-one img{
        top: 44px;
    }
    label{
        display: inline-block;
        padding: 35px 0 12px 20px ;
    }
    .section-four{
        padding-top: 80px;
    }
    .section-four h2{
        font-size: 3rem;
        color: #30C2AF;
    }
    .section-four button{
        padding: 10px 0;
        margin-top: 90px;
    }
}