@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');
body{
    font-family: 'Space Mono', monospace;
    background-color: #C5E4E7;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}
/*       H E A D E R       */
header{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*          M A I N        */
main{
    background-color: white;
    border-radius: 20px;
}
.centralizar{
    width: 85%;
    margin: 0 auto;
    background-color: red;
}